In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings('ignore')

import os

In [3]:
df=pd.read_csv("stud.csv")

In [4]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
print("Categories in gender column:  ",end=" ")
print(df['gender'].unique())

print("Categories in race_ethnicity column:  ",end=" ")
print(df['race_ethnicity'].unique())

print("Categories in parental_level_of_education column:  ",end=" ")
print(df['parental_level_of_education'].unique())

print("Categories in lunch column:  ",end=" ")
print(df['lunch'].unique())

print("Categories in test_preparation_course column:  ",end=" ")
print(df['test_preparation_course'].unique())

Categories in gender column:   ['female' 'male']
Categories in race_ethnicity column:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in parental_level_of_education column:   ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in lunch column:   ['standard' 'free/reduced']
Categories in test_preparation_course column:   ['none' 'completed']

In [6]:
X=df.drop(columns=['math_score'],axis=1)

In [8]:
y=df['math_score']

In [9]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [10]:
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math_score, dtype: int64

In [11]:
# Create Column Transformer with 3 types of transformers

num_features=X.select_dtypes(exclude="O").columns
cat_features=X.select_dtypes(include="O").columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numerical_transformer=StandardScaler()
oh_transformer=OneHotEncoder()

preprocessor=ColumnTransformer(
    [
        ("OneHotEncoding",oh_transformer,cat_features),
        ("StandardScaler",numerical_transformer,num_features)
        
    ]
)

In [13]:
X=preprocessor.fit_transform(X)

In [15]:
X.shape

(1000, 19)

In [18]:
# train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

(800, 19)

In [19]:
print("X_train shape: ",X_train.shape)
print("X_test shape: ",X_test.shape)    
print("y_train shape: ",y_train.shape)
print("y_test shape: ",y_test.shape)

X_train shape:  (800, 19)
X_test shape:  (200, 19)
y_train shape:  (800,)
y_test shape:  (200,)

In [20]:
# Create an evaluate function to give all metrics after training the model

def evaluate(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mse)
    r2_squared=r2_score(true,predicted)
    return mae,mse,rmse,r2_squared

In [ ]:
models={
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K-Neighbours Regression":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor(),
    "XGB Regressor":XGBRegressor(),
    "CatBoostRegressor":CatBoostRegressor(),
    "Ada Boost Regressor":AdaBoostRegressor()
}

models_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    # Make Predictions
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    # Evaluate train,test models
    model_train_mae , model_train_mse , model_train_r2= evaluate(y_train,y_train_pred)

    model_train_mae, model_train_mse ,model_train_r2= evaluate(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

ValueError: too many values to unpack (expected 3)